/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to elements */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: plum;
    color: black;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: greenyellow;
    color: black;
    padding: 10px 20px;
    text-align: center;
}

.color-section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #333;
}

#fun-facts {
    background-color: #FF5733;
}

#amazing-photos {
    background-color: #DAF7A6;
}

#exciting-events {
    background-color: #C70039;
}
